<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prevent window close tab - Lazy Chrome</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
        integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!--[if lte IE 8]>
            <link rel="stylesheet" href="/combo/1.18.13?/css/layouts/marketing-old-ie.css">
        <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/tab.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="root" style="width: 100%; height:100vh">
        <div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed home-menu-inactive">
                <a id="app_name" class="pure-menu-heading" href="">Lazy Chrome</a>

                <!-- <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
        </ul> -->
            </div>
        </div>

        <div class="splash-container splash-container-inactive">
            <div class="splash">
                <h1 class="splash-head" id="prevent_clost_tab_splash">Prevent browser close tab</h1>
                <p class="splash-subhead" id="prevent_clost_tab_splash1">
                    Just leave this tab open and your browser won't be closed automatically
                </p>
                <p class="splash-subhead" id="prevent_clost_tab_splash2">
                    NOTE: Due to a change in the API of Chrome, you will need to click
                    anywhere on this page once to make this script work
                </p>
                <p>
                    <a href="#" id="prevent_clost_tab_splash3" class="pure-button pure-button-primary">CLICK ANYWHERE
                        BACK TO LAST
                        TAB<br />(LAST TAB OR NEW TAB OR YOU MOVED HERE)</a>
                </p>
                <p class="splash-subhead" id="prevent_clost_tab_splash4">How to disable/enable: You will find the option
                    by clicking the extension icon
                </p>
            </div>
        </div>
    </div>
</body>

</html>